@import url(http://fonts.googleapis.com/css?family=Gabriela);

body{
  background-color: black;
}

.background {
  background-size: cover;
  position: fixed;
  repeat:no-repeat;
}

.logo {
  position: relative;
  margin-left: 41%;
}

.button {
  width: 22.5%;
  position: absolute;
  margin-top: -.5%;
  margin-left: 80.5%;
}

@-webkit-keyframes greenPulse {
from { -webkit-box-shadow: 0 0 100px darkorange; }
50% {  -webkit-box-shadow: 0 0 300px darkorange; }
to {-webkit-box-shadow: 0 0 19px darkorange; }
}

p.enter {
  font-size: 5.5em;
  font-family: 'Gabriela';
  position: absolute;
  padding-top: 6px;
  padding-left: 35px;
  color: whitesmoke;
}

div.cirrcle {
    margin-left: 81%;
    margin-top:8%;
    width:300px;
    height:300px;
}

.cirrcle {
    -moz-border-radius: 200px/200px;
    -webkit-border-radius: 200px 200px;
    border-radius: 200px/200px;;
    border:1px solid #91bd09;
    width:200px;
    height:200px;
    outline:none;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.cirrcle:hover {
    box-shadow: 0 0 2px #91bd09;
    -webkit-box-shadow: 0 0 2px #91bd09;
    -moz-box-shadow: 0 0 2px #91bd09;
    border:1px solid #91bd09;
}
