@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

#index {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: none;
  width: 100%:
  display: table;
}

.banner {
  width: 60.7%;
  position: relative;
  margin-top: 2%;
  margin-left: 19.3%;
}

.logo {
    width: 16.8%;
    margin-top: -11.7%;
    margin-left: 20.5%;
    position:relative;;
    display: block;
}

.navigation {
  width: 42%;
  margin-top: -8%;
  margin-left: 37.2%;
  position: relative;
  display: block;

}

.home,
.events,
.contributers,
.community,
.gallery {
   width: 7.5%;
   margin-top: -4.9%;
   position: absolute;

}

.btn {
 display: none;
}

.home {
 margin-left: 37%;
}

.events {
 margin-left: 45%;
}

.contributers {
 margin-left: 53%;
}

.community {
 margin-left: 61%;
}

.gallery {
  margin-left: 69%;
}

.buttons figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.buttons figure:hover img {
	opacity: .5;
}

.footer {
  position: relative;
  margin-top: 55%;
  margin-left: 16.2%;
  display: block;
  font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
}

.footer td{
  display: inline;
  border-color: #44000e;
  border: 2px;
}

.info {
  font-size: 1.4em;
  font-weight: bold;
  padding: 15px 25px;
}

.info :hover {
    opacity: 1.0;
}

.symbol {
   font-size: 1.5em;
}

.footer_home {background-color: #b3b9e3;
	margin-top: -65.5%;
	}
.footer_home .info {color:#242f7d;}
.footer_home .symbol {color:#727cc2;}

.footer_events {
	background-color: #580010;
    margin-top: -65.5%;
	}
.footer_events .info {color:#ef7b90;}
.footer_events .symbol {color:#c18e98;}



.footer_contributors {
	background-color: #9e4054;
	margin-top: -79%;}
.footer_contributors .info {color: #44000e;}
.footer_contributors .symbol {color: #c07f8d;}



.footer_community {
	background-color: #157fbf;
    margin-top:-56%;
    margin-left:1.5%;
	}
.footer_community .info {color:#032c44;}
.footer_community .symbol {color:#a8cce2;}

.footer_gallery {background-color:#f5dd37;
    margin-top: 84%;
}
.footer_gallery .info {color:#4c4305;}
.footer_gallery .symbol {color:#f8f2c5;}

.footer_responsive {
  display: none;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Home Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
.April img,
.RAC img,
.hours img {
  width: 40%;
  margin-left: 38.6%;
  position: relative;
}

.April img {
  margin-top: 1.5%;
}


.video {
  position: absolute;
  width: 20%;
  max-height: 21.5%;
  margin-top: -16.78%;
  margin-left: 53.8%;
}

.link {
  width: 13.5%;
  margin-top: -23.5%;
  margin-left: 21.7%;
  display:block;
  position:relative;
}

.link_classes,
.link_donations,
.link_community,
.link_gallery,
.link_events {
   width: 10%;
   margin-left:23.5%;
   position:absolute;
}

.link_classes {
   margin-top: -49.5%;
}

.link_community {
   margin-top: -40.3%;
}

.link_gallery {
   margin-top: -31.1%;
}

.link_events {
   margin-top: -21.8%;
}

.link_donations {
  margin-top: -12.6%;
}

.RAC img {
  margin-top: -29.8%;
}

.RAC div{
  width: 34%;
  height: 15%;
  float: right;
  text-align:center;
  position: relative;
  margin-top: -29.6%;
  margin-right: 24.5%;
}

.RAC h2 {
  font-size: 4em;
  line-height: 1%;
  font-family: 'Fredericka the Great', cursive;
  color: black;
  text-shadow: 2.5px 2.5px #de511c;


}

.RAC p {
  font-size: 1.05em;
  font-family: 'Open Sans', sans-serif;
  color: #080808;
  margin-top: -1.3%;
}
.hours img {
  margin-top: -14.5%;
}

.hours div{
  width: 34%;
  height: 15%;
  float: right;
  text-align:center;
  position: relative;
  margin-top: -14.4%;
  margin-right: 24.5%;

}

.hours h2 {
  font-size: 3em;
  line-height: 70%;
  font-family: 'Fredericka the Great', cursive;
  color: black;
  text-shadow: 2.5px 2.5px #8600b3;
}

.hours h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  line-height: 50%;
}

.hours p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 0%;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Events Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#events {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 115%;
  font-family: 'Open Sans', sans-serif;
}

.calendar {
  margin-left:-34.5%;
  margin-top:3.2%;
  position: absolute;
}

.calendar_frame {
	width: 38%;
    margin-left:19.1%;
	position: relative;
}

.class_container {
	position: relative;
	width: 38%;
	margin-top: -1.8%;
	margin-left: 19.1%;
}

.classes {
  width: 27%;
  margin-left: -32%;
  position: absolute;

}

.pdf {
  width: 7%;
  margin-top: 18%;
  margin-left: -22%;
  position: absolute;

}


.upcomming_events {
	position: relative;
	width: 24.5%;
	margin-top: -54.5%;
	margin-left: 56%;
}

.wine, .film {
	position: absolute;
}
.wine {
	width: 18%;
 	margin-top:-47.25%;
 	margin-left: -21.9%;
}

.film {
	width:15%;
    margin-top: -36%;
    margin-left: -20.5%;
}

.facebook_container {
	width: 21%;
	position: relative;
	margin-top: -14%;
	margin-left:57.2%;
}

.facebook {
	position: absolute;
	width: 18%;
	margin-top: -8.8%;
	margin-left: -19.4%;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////          Contributors Page            //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#contributors {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}


.container_v {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
}

.intro {
  font-size:1.7em;
  font-weight: 700;
  line-height:1em;
  text-align: center;
  color: #230209;
}

.container_v td {
	  font-size: 1em;
}

.container_v {
	  text-align: left;
	  overflow: hidden;
	  width: 38%;
	  margin-top: 0%;
	  margin-left:39.25%;
      position: relative;
   display: table;
   padding: 0 0 8em 0;
}

.container_v td, .container_v th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    padding-left:3%;
    padding-right: 3%;
}

.container_v tr:nth-child(odd) {
	  background-color: #ec627f;
}

.container_v tr:nth-child(even) {
	  background-color: #ec8298;
}

.container_v th {
	  background-color: #ea3259;
    color:#230209;
}

.container_v td:first-child {
  color: #410512;
  font-weight: 700;}

}




.header_d {
  font-size:1em;
  font-weight: 700;
  line-height:1em;
  text-align: left;
  color: #230209;
}

.container_d td {
	  font-size: .8em;
}

.container_d {
	position: relative;
	  width: 10%;
	  text-align: left;
	  overflow: hidden;
	  margin-top:-18%;
      margin-left:23.5%;
     display: table;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     line-height: 1em;

}

.container_d td, .container_d th {
	  padding-bottom: 1.5%;
	  padding-top: 1.5%;
      padding-left:2%;
      padding-right: 2%;
}

.container_d tr:nth-child(odd) {
	  background-color: #db9eab;
}

.container_d tr:nth-child(even) {
	  background-color: #e7b9c3;
}

.container_d th {
	  background-color: #db7f93;
      color:#230209;
}

.container_d td:first-child {
  color: #410512;
  font-weight: 700;
  }

  .container body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.container {
		width: 12%;
		height: 50%;
		margin-top:-15%;
		margin-left: 45.5%;
	background: linear-gradient(45deg, #efdce4,#d87da4, #bb1a5e);
	position: relative;
	transform: translate(-50%, -50%);
}

.container table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.container th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

.container th {
	text-align: center;
	background-color: #cf0f60;
}

.container thead {
	th {
		background-color: #cf0f60;
	}
}

.container tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.1);
		}
	}
}




.donor_frame {
  width: 25%;
  position: relative;
  margin-top: -42%;
  margin-left: 53.2%;
}
.donations {
    position:absolute;
    width: 20%;
    margin-top:-35.5%;
    margin-left: -22.5%;
}

.member_frame {
	width:25%;
	margin-top: -27.6%;
	margin-left: 53.2%;
}

.member {
  position:absolute;
  width: 20%;
  margin-top:-21.5%;
  margin-left: -22.5%;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Community Page             //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#community {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}



.local_shops body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:1em;
}

.local_shops {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:-15%;
	margin-left:13.6%;
    position: relative;
}

.local_shops table {
	width: 400px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.local_shops img {
	width: 280px;
}

.local_shops th,
td {
	padding: 5px;
	background-color: rgba(0,105,205,0.6);
	color: white;
	font-size:1.5em;
}

.local_shops th {
	text-align: center;
	font-size:2.5em;
	background-color: #00cccc;
	rowspan: 2;
}

.local_shops thead {
	th {

		background-color: #00cccc;
	}
}

.local_shops tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
}

.downtown_logo {
  position: relative;
  display: block;
  margin-left: 48%;
  width: 25%;
}

.downtown {
	position: absolute;
	margin-left: 53%;
	margin-top:.2%;
	width: 15%;
}

.map {
  position:absolute;
  margin-left:42%;
  margin-top:4.3%;
  width: 35%;

}


/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Gallary Page               //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#gallery {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}


#Show,
#Exhibit,
#hands,
#children,
#John,
#Ann {
  color: darkorange;
  -webkit-text-stroke: 1px black;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3.5em;
  margin-left: 20%;
  position: absolute;
}

#Show {
  margin-top: -59%;
}

#Exhibit {
  margin-top: -48.5%;
}

#hands {
  margin-top: -37%;
}

#children {
  margin-top: -25.5%;
}

#John {
  margin-top: -14%;
}

#Ann {
  margin-top: -2.5%;
}
.Show,
.Exhibit,
.hands,
.children,
.John,
.Ann {

}

.Show {
    margin-top: 5.5%;
}

.Exhibit {
    margin-top: 16%;

}

.hands {
    margin-top: 27.5%;
}

.children {
    margin-top: 39%;
}

.John {
    margin-top: 50.5%;
}

.Ann {
    margin-top: 62%;
}

.first,
.second,
.third,
.forth,
.fifth,
.sixth {
  width: 8%;
  position:absolute;
}

.first {
  margin-left: 20.7%;
}

.second {
  margin-left: 30.65%;
}

.third {
  margin-left: 40.65%;
}

.forth {
  margin-left: 50.65%;
}

.fifth {
  margin-left: 60.65%;
}

.sixth {
  margin-left: 70.65%;
}



/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////          Responsive Design            //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #index {
      background-color: black;
      background-image: none;
      font-family: 'Open Sans', sans-serif;
     }

    .banner {
      width: 380px;
      height: 80px;
      margin-top: -2px;
      margin-left: -55px;
    }

    .logo {
        width:70px;
        margin-top: -75px;
        margin-left: -3px;
       }

    .navigation {
      width: 300px;
      height: 90px;
      margin-top: 0px;
      margin-left: -20px;
    }

    .buttons {
    display:none;
}

   .btn {
    display: block;
    position: absolute;
   }

   .h_btn,
   .e_btn,
   .con_btn,
   .com_btn,
   .g_btn {
     display: block;
     width: 340px;
     margin-left: -10px;
     height: 50px;
     background-color: #DE5B09;
     font-size: 1.5em;
     font-family:fantasy;
     font-weight: 900;
     color: #2E0D02;
     border-color: #5E1D07;
   }

   button :hover {
     background-color: #E0BAA6;
     color: white;
   }

  .h_btn {
    margin-top: -80px
  }

.footer {
	display: none;
}

.footer_responsive {
	margin-top: 2255px;
	position: relative;
	margin-left: -8px;
}
.info {
	width: 320px;
	font-size: .9em;
	padding: 2px;
	padding-left: 13px;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Home Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
.April img,
.RAC img,
.hours img {
  width: 370px;
  margin-left: -35px;
  position: relative;
}

.April img {
  margin-top: 180px;
}


.video {
  position: absolute;
  width: 180px;
  height: 115px;
  margin-top: -156px;
  margin-left: 108px;
}

.link {
  width: 13.5%;
  margin-top: -23.5%;
  margin-left: 21.7%;
  display:none;
  position:relative;
}

.link_classes,
.link_donations,
.link_community,
.link_gallery,
.link_events {
   width: 300px;
   margin-left:3px;
   position:absolute;
}

.link_classes {
   margin-top: 865px;
}

.link_community {
   margin-top: 1115px;
}

.link_gallery {
   margin-top: 1365px;
}

.link_events {
   margin-top: 1615px;
}

.link_donations {
  margin-top: 1865px;
}

.RAC img {
  margin-top: -30px;
  height: 950px;
  position:relative;
}

.RAC div{
  width: 300px;
  float: left;
  position: absolute;
  margin-top: -900px;;
  margin-right: 0px;
}

.RAC h2 {
  font-size: 2.5em;
  line-height: 1em;
  text-shadow: 1.5px 1.5px #de511c;


}

.RAC p {
  text-align: left;
  font-size: .9em;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #080808;
  margin-top: -6%;
}
.hours img {
  margin-top: 1195px;
  margin-left; 0px;
  float: left;
  width: 380px;
  height: 410px;
  position: relative;

}

.hours div{
  float: left;
  text-align:center;
  position: relative;
  margin-top: 1180px;
  margin-left: -365px;
  color: white;

}

.hours h2 {
  font-size: 3em;
  line-height: 1.2em;
  text-shadow: 1.5px 1.5px #8600b3;
}

.hours h4 {
  font-size: 1.5em;
  line-height: 1.1em;
  margin-top: -20px;
  margin-left: 25px;
  width: 300px;
}

.hours p {
  margin-top: -19px;
  font-size: 1em;
  line-height: 1em;

}


}















@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #index {
      background-color: black;
      background-repeat: no-repeat;
      background-image: none;
      width: 100%;
      height: 100%;
      font-family: 'Open Sans', sans-serif;
    }

    .header {
      background-color: none;
      width: 100%:
      display: table;
    }

    .banner {
      width: 99.3%;
      position: relative;
      margin-top: 0;
      margin-left: 0;
    }

    .logo {
        width: 29.8%;
        margin-top: -18.7%;
        margin-left: 1.5%;
        position:relative;;
        display: block;
    }

    .navigation {
      width: 61%;
      margin-top: -14%;
      margin-left: 36.2%;
    }

    .home,
    .events,
    .contributers,
    .community,
    .gallery {
       width: 10.5%;
       margin-top: -7.5%;
    }


    .home {
     margin-left: 35%;
    }

    .events {
     margin-left: 46%;
    }

    .contributers {
     margin-left: 57%;
    }

    .community {
     margin-left: 68%;
    }

    .gallery {
      margin-left: 79%;
    }


    .footer {
      margin-top: 60%;
      margin-left: -1%;
        opacity: 0.8;
    }

    .footer td{
      display: inline;
      border: 2px;
    }

    .info {
      font-size: .67em;
      padding: 15px 25px;
    }


    .symbol {
       font-size: .8em;
    }

    .footer_home {
    	margin-top: -65.5%;
    	}


    .footer_events {
        margin-top: -65.5%;
    	}




    .footer_contributors {

    	margin-top: -79%;}




    .footer_community {

        margin-top:-56%;
        margin-left:1.5%;
    	}


    .footer_gallery {
        margin-top: 84%;
    }


    .footer_responsive {
      display: none;
    }

    /*///////////////////////////////////////////////////////////////////////////*/
    /*///////////////////////////////////////////////////////////////////////////*/
    /*//////////////            Home Page                //////////////////////*/
    /*///////////////////////////////////////////////////////////////////////////*/
    /*///////////////////////////////////////////////////////////////////////////*/
    .April img,
    .RAC img,
    .hours img {
      width: 60%;
      margin-left: 38.6%;
      position: relative;
    }

    .April img {
      margin-top: 1.5%;
    }


    .video {
      width: 30%;
      max-height: 13.5%;
      margin-top: -25%;
      margin-left: 61.5%;
    }

    .link {
      width: 25%;
      height: 80%;
      margin-top: -33.5%;
      margin-left: 4.59%;
    }

    .link_classes,
    .link_donations,
    .link_community,
    .link_gallery,
    .link_events {
       width: 20%;
       margin-left:7%;
       position:absolute;
    }

    .link_classes {
       margin-top: -98%;
    }

    .link_community {
       margin-top: -79.8%;
    }

    .link_gallery {
       margin-top: -61.5%;
    }

    .link_events {
       margin-top: -43%;
    }

    .link_donations {
      margin-top: -25%;
    }

    .RAC img {
      margin-top: -70%;
      height: 30%;
    }

    .RAC div{
      width: 50%;
      float: right;
      text-align:center;
      position: relative;
      margin-top: -65.6%;
      margin-right: 6%;
    }

    .RAC h2 {
      font-size: 2em;
      line-height: 3%;
      text-shadow: 2px 2px #de511c;
    }

    .RAC p {
      font-size: .8em;
      font-family: 'Open Sans', sans-serif;
      color: #080808;
      margin-top: -1.3%;
    }
    .hours img {
      margin-top: -25%;
    }

    .hours div{
      width: 68%;
      float: right;
      text-align:center;
      position: relative;
      margin-top: -25.4%;
      margin-right: -2.5%;

    }

    .hours h2 {
      font-size: 2em;
      line-height: 60%;
      text-shadow: 2px 2px #8600b3;
    }

    .hours h4 {
      font-size: 1.2em;
      line-height: 50%;
    }

    .hours p {
      font-size: .5em;
    }
}






















@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

.home,
.events,
.contributers,
.community,
.gallery {
   margin-top: -5.4%;

}


.home {margin-left: 35.5%;}

.events {margin-left: 43.5%;}

.contributers {margin-left: 51.5%;}

.community {margin-left: 59.5%;}

.gallery {margin-left: 67.5%;}



.footer {
	width: 2000px;
  margin-top: 91%;
  margin-left: 14.2%;
}

.footer td{
  border: 1px;
}

.info {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 5px;
}


.symbol {
   font-size: .25em;
}


.footer_events {
    margin-top: -65.5%;
	}



.footer_contributors {
	margin-top: -79%;}



.footer_community {
    margin-top:-56%;
    margin-left:1.5%;
	}

.footer_gallery {
    margin-top: 84%;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Home Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
.RAC div{
  width: 34%;
  height: 15%;
  float: right;
  text-align:center;
  position: relative;
  margin-top: -29.6%;
  margin-right: 24.5%;
}

.RAC h2 {
  font-size: 2em;
  line-height: 2%;
  text-shadow: 2px 2px #de511c;


}

.RAC p {
  font-size: .62em;
  margin-top: -.3%;
}

.hours div{
  margin-top: -13.9%;

}

.hours h2 {
  font-size: 2em;
  line-height: 30%;
  text-shadow: 2px 2px #8600b3;
}

.hours h4 {
  font-size: 1.2em;
}

.hours p {
  font-size: .9em;
}

  }
