#index {
  background-image: url("Images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: none;
  width: 100%:
}

.gallery_container {
  width: 0%;
}

.logo {
    width: 16.8%;
    margin-top: 1.7%;
    margin-left: 20%;
    position:absolute;
    display: block;
}

.navigation {
  width: 42%;
  margin-top: 12%;
  margin-left: 36.9%;
  position: relative;
  display: block;
}

.home,
.events,
.contributers,
.community,
.gallery {
   width: 7.5%;
   margin-top:-5%;
   position: absolute;
   display: block;
}

.home {
 margin-left: 36.5%;
}

.events {
 margin-left: 44.5%;
}

.contributers {
 margin-left: 52.5%;
}

.community {
 margin-left: 60.5%;
}

.gallery {
  margin-left: 68.5%;
}

.buttons figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.buttons figure:hover img {
	opacity: .5;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Events Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#events {
  background-image: url("Images/Events layout.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 115%;
  font-family: 'Open Sans', sans-serif;
}



.classes {
  width: 30%;
  margin-left: 35%;
  position: relative;

}

.pdf {
  width: 8.5%;
  margin-top: 20%;
  margin-left: -20%;
  position: absolute;

}

.calendar {
  margin-top: 2%;
  margin-left: 30%;
  width: 40%;
  height: 40%;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////          Contributors Page            //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#contributors {
  background-image: url("Images/Contributors layout.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Community Page             //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#community {
  background-image: url("Images/Community layout.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Gallary Page               //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

#gallery {
  background-image: url("Images/Gallery layout.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}


#Show,
#Exhibit,
#hands,
#children,
#John,
#Ann {
  color: darkorange;
  -webkit-text-stroke: 1px black;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3.5em;
  margin-left: 20%;
  position: absolute;
}

#Show {
  margin-top: -60.5%;
}

#Exhibit {
  margin-top: -49%;
}

#hands {
  margin-top: -37.5%;
}

#children {
  margin-top: -26%;
}

#John {
  margin-top: -14.5%;
}

#Ann {
  margin-top: -3%;
}
.Show,
.Exhibit,
.hands,
.children,
.John,
.Ann {

}

.Show {
    margin-top: 4.5%;
}

.Exhibit {
    margin-top: 16%;

}

.hands {
    margin-top: 27.5%;
}

.children {
    margin-top: 39%;
}

.John {
    margin-top: 50.5%;
}

.Ann {
    margin-top: 62%;
}

.first,
.second,
.third,
.forth,
.fifth,
.sixth {
  width: 8%;
  position:absolute;
}

.first {
  margin-left: 20.7%;
}

.second {
  margin-left: 30.65%;
}

.third {
  margin-left: 40.65%;
}

.forth {
  margin-left: 50.65%;
}

.fifth {
  margin-left: 60.65%;
}

.sixth {
  margin-left: 70.65%;
}










@media screen and (max-width: 320px) {
 #gallery {
  background-image: none;
 }

 .navigation {
   width: 40%;
 }

 .home,
 .events,
 .contributers,
 .community,
 .gallery {
   width: 7%;
   margin-top: -9.3%;
}

.home {
  margin-left: 25.5%;
}

.events {
  margin-left: 33%;
}

.community {
  margin-left: 40.5%;
}

 .contributers {
   margin-left: 48%;
 }

 .gallery {
   margin-left: 55.5%;;
 }

#Show, #Exhibit, #hands, #children, #John, #Ann{
  font-size: .1em;
  }

}









@media screen and (min-width: 568px) {
   .navigation {
   width: 42%;
 }

 .home,
 .events,
 .contributers,
 .community,
 .gallery {
   width: 7.5%;
   margin-top: -7.2%;
}

.home {
  margin-left: 31.3%;
}

.events {
  margin-left: 39.3%;
}

.community {
  margin-left: 47.3%;
}

 .contributers {
   margin-left: 55.3%;
 }

 .gallery {
   margin-left: 63%;;
 }
#Show, #Exhibit, #hands, #children, #John, #Ann {
  font-size: .8em;
  }
}









@media screen and (min-width: 1440px) {
  .logo {
   margin-top: 1%;
 }

  #Show, #Exhibit, #hands, #children, #John, #Ann {
    font-size: 2em;
  }
}







@media screen and (min-width: 2500px){
  .logo{
    margin-top: 1.7%;
    }
  }
  .navigation {
    width: 42%;
    margin-top: 12%;
    margin-left: 36.9%;
    position: relative;
    display: block;
  }

  .home,
  .events,
  .contributers,
  .community,
  .gallery {
     width: 7.5%;
     margin-top:-5%;
     position: absolute;
     display: block;
  }

  .home {
   margin-left: 36.5%;
  }

  .events {
   margin-left: 44.5%;
  }

  .contributers {
   margin-left: 52.5%;
  }

  .community {
   margin-left: 60.5%;
  }

  .gallery {
    margin-left: 68.5%;
  }
  #Show, #Exhibit, #hands, #children, #John, #Ann {
    font-size: 3.4em;
}
