body {
  background-image: url("Images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 115%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: none;
  width: 100%:
}

.logo {
    width: 14%;
    margin-top: -9%;
    margin-left: 22%;
    position:absolute;
    display: block;
}

.navigation {
  width: 42%;
  margin-top: 11.8%;
  margin-left: 36.9%;
  position: relative;
  display: block;
}

.home,
.events,
.contributers,
.community,
.gallary {
   width: 7.5%;
   margin-top:-4.3%;
   position: absolute;
}

.home {
 margin-left: 38%;
}

.events {
 margin-left: 46%;
}

.contributers {
 margin-left: 54%;
}

.community {
 margin-left: 62%;
}

.gallary {
  margin-left: 70%;
}


/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////            Events Page                //////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.classes {
  width: 30%;
  margin-left: 35%;
  position: relative;

}

.pdf {
  width: 8.5%;
  margin-top: 20%;
  margin-left: -20%;
  position: absolute;

}

.calendar {
  margin-top: 2%;
  margin-left: 30%;
  width: 40%;
  height: 40%;
}
